* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #222;
}

.nav {
  display: block;
  padding: 1em;
  background: #0065fd;
}

.nav .nav-badge {
  font-size: 1.25em;
  text-decoration: none;
  color: #fff;
}

.header {
  display: block;
  padding: 3em 1em;
}

.main {
  padding: 1em;
  background: #0065fd;
  color: #fff;
}
.footer {
  display: block;
  padding: 1em;
}

.footer .footer-link {
  display: inline-block;
  text-decoration: none;
  color: #0065fd;
}
